.abrir {
    background-color: transparent;
}

.cerrar {
    background-color: transparent;
}

.lupa{
    top: 6px;
}
.dataTable{
    width: 100%;
    overflow-x:scroll;
    overflow:scroll;
}
.dataTable th {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    background-color: #0c5693;
    ;
    color: white;
}

.dataTable tr:nth-child(odd){
background: lightsteelblue;
}
